<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <hooks>
      <hook type="Sitecore.Support.ListManager.ContactListLockProcessingHook, Sitecore.Support.125498">
        <PoolName ref="aggregationProcessing/processingPools/contact/Name" />
      </hook>
    </hooks>
    <processContactsDataProvider>
      <param name="operationManager" set:type="Sitecore.Support.ListManager.Contact.Bulk.ContactBulkUpdateManager, Sitecore.Support.125498" />
    </processContactsDataProvider>
    <contactListManagement>
      <contactListCountingLock type="Sitecore.Support.ListManager.Locking.IdTableListOperationsCountingLock, Sitecore.Support.125498" singleInstance="true"  />
    </contactListManagement>
    <aggregationProcessing>
      <processingPools>
        <contact set:type="Sitecore.Support.ListManager.ProcessingPool.ContactsMongoDbProcessingPool, Sitecore.Support.125498" />
      </processingPools>
    </aggregationProcessing>
  </sitecore>
</configuration>